<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Garment</title>
</head>
<body>
    <h1>Add a Garment</h1>
    <form action="/garments" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="name">Location</label>
        <input type="text" name="location" id="location">
        <label for="name">Contact</label>
        <input type="text" name="contact" id="contact">
        <button type="submit">Save</button>
    </form>
</body>
</html>