<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="name">Brand</label>
        <input type="text" name="brand" id="brand">
        <label for="name">Color</label>
        <input type="text" name="color" id="color">
        <label for="name">Price</label>
        <input type="number" name="price" id="price">
        <label for="category">Category</label>
        <select name="category id="category>
            <option value="" selected disabled>- Option -</option>
            <option value="Baju">Baju</option>
            <option value="Celana">Celana</option>
            <option value="Jaket">Jaket</option>
            <option value="Aksesoris">Aksesoris</option>
        </select>
    </form>
</body>
</html>